
<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Crear Novedad</h3>
    </div>
    <form [formGroup]="miFormulario" (ngSubmit)="agregar()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Seleccionar Tipo</label>
                    <select formControlName="tipo" class="form-control" >
                        <option value="Accidente Transito">Accidente Transito</option>
                        <option value="Manifestación">Manifestación</option>
                        <option value="Robo">Robo</option>
                        <option value="Cambio Turno">Cambio Turno</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Seleccionar Puesto</label>
                    <select formControlName="puesto" class="form-control">
                        <option value="Aguila 1">Aguila 1</option>
                        <option value="Aguila 2">Aguila 2</option>
                        <option value="Aguila 3">Aguila 3</option>
                        <option value="Aguila 4">Aguila 4</option>
                        <option value="Aguila 5">Aguila 5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Hora</label>
                    <input type="time" formControlName="hora" class="form-control" placeholder="Ingrese hora">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Fecha</label>
                    <input type="date" formControlName="fecha" class="form-control" placeholder="Ingrese fecha">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label>Preliminar</label>
            <textarea formControlName="preliminar" type="text" class="form-control" rows="3" placeholder="Ingrese la Preliminar"></textarea>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea type="text" formControlName="descripcion" class="form-control" rows="3" placeholder="Ingrese la Descripción"></textarea>
            
        </div>
        <button type="submit" class="btn btn-primary rounded-pill " >
            Guardar
        </button>
    </form>
   
</div>

<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Listado de Novedades Total : {{totalNovedades}}</h3>

       
       
    </div>

    <div class="card-body">
       
        <div *ngIf="respuesta" class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Buen Trabajo!!!</strong> &nbsp; &nbsp; &nbsp; Registro Actualizado Correctamente!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="spinner-border text-primary animated fadeIn fast" role="status"  *ngIf="cargando">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="demo-code-preview" data-label="Listado de Novedades" *ngIf="!cargando">

            <table    datatable [dtOptions]="dtOptions" class="row-border hover ">
                <thead >
                    <tr>
                        <th>Tipo</th>
                        <th>Hora/Fecha</th>
                        <th>Puesto</th>
                        <th class="col-100">Preliminar</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody  >
                    <tr *ngFor="let item of novedades">
                        <td>{{item.tipo}}</td>
                        <td>{{item.hora}} {{horaMes(item.fecha)}} </td>
                        <td>{{item.puesto}}</td>
                        <td class="col-30">{{item.preliminar}}</td>
                        <td>
                            <a  class="iconos observar mr-2"  (click)="abrirModalArchivo(item)" data-toggle="tooltip" data-placement="top" title="Subir Archivo"><i class="bx bx-cloud-upload"></i></a>
                            <a  class="iconos observar mr-2" (click)="abrirModal(item)"  data-toggle="tooltip" data-placement="top" title="Ver Novedad"><i class=" bx bxs-low-vision"></i></a>
                            <a  class="iconos editar mr-2" (click)="abrirModalEditar(item)" ><i class="bx bx-edit-alt"  data-toggle="tooltip" data-placement="top" title="Editar Novedad"></i></a>
                            <a  (click)="eliminarNovedad(item)" class="iconos eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar Novedad"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
<app-modal-usuario></app-modal-usuario>
<app-editar-novedad></app-editar-novedad>