

<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Listado de Archivos Total : </h3>

       
       
    </div>

    <div class="card-body">
       
        <div class="demo-code-preview" data-label="Listado Agentes Suspendidos" >

            <table  datatable [dtOptions]="dtOptions" class="row-border hover" >
                <thead >
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Activo</th>
                        <th>Destino</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody  >
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#" class="btn btn-outline-info mr-1" ><i class=" bx bxs-low-vision"></i></a>
                            <a href="#" class="btn btn-outline-info mr-1" ><i class="bx bx-edit-alt"></i></a>
                            <a href="javascript:void(0);"   class="btn btn-outline-danger"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>