<div class="faq-area mb-30">
    <div class="tab faq-accordion-tab">
        <ul class="tabs d-flex flex-wrap justify-content-center active">
            <li [ngClass]="itemOne===true ? 'current' : '' " style="cursor:pointer;">
                <a (click)="directivauno()"><i class=" bx bxs-user-circle"></i>
                    <span>Registro Agentes</span>
                </a>
            </li>
            <li [ngClass]="itemTwo===true ? 'current' : '' " style="cursor:pointer;">
                <a (click)="directivados()"><i class=" bx bx-face "></i>
                    <span>Agentes Suspendidos</span>
                </a>
            </li>
            <li [ngClass]="itemTree===true ? 'current' : '' " style="cursor:pointer;">
                <a (click)="vacaciones()"><i class="  bx bxs-user-detail"></i>
                    <span>Agentes Vacaciones</span>
                </a>
            </li>
            <li [ngClass]="itemFor===true ? 'current' : '' " style="cursor:pointer;">
                <a (click)="baja()"><i class=" bx bx-user-x"></i>
                    <span>Agentes Bajas</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!----ITEM UNO ---->
<div class="todo-content-area " style="max-width: 100%;" [ngStyle]="{'display':itemOne===true ? 'block' : 'none'}">
  <app-registro-agente (agente)="newAgente($event)" [agentes]="agentesActivos" [total]="agentesActivosTotal" />
</div>

<!--ITEM DOS-->
<div class="todo-content-area" style="max-width: 100%;" [ngStyle]="{'display':itemTwo===true ? 'block' : 'none'}">
   <app-agentes-suspendidos (agente)="newAgente($event)" [agentes]="agentesSuspendidos" [total]="agentesSuspendidosTotal" />
</div>

<!--ITEM TRES VACACIONES-->
<div class="todo-content-area" style="max-width: 100%;" [ngStyle]="{'display':itemTree===true ? 'block' : 'none'}">
    <app-agentes-vacaciones (agente)="newAgente($event)" [agentes]="agentesVacaciones" [total]="agentesVacacionesTotal" />
</div>

<!--ITEM CUATRO AGENTES DE BAJA-->
<div class="todo-content-area" style="max-width: 100%;" [ngStyle]="{'display':itemFor===true ? 'block' : 'none'}">
    <app-agente-baja (agente)="newAgente($event)" [agentes]="agentesBaja" [total]="agentesBajaTotal" />
</div>