
<div class="fondo-modal "
    [class.oculto]="mService.ocultarModalEditarArchivo"
>
    <div class="modal fade basicModalLG show" 
        id="basicStaticBackdrop" 
        data-backdrop="static" 
        role="dialog" 
        aria-modal="true" 
        style="display: block; padding-right: 17px;"
    >
    <div class="modal-dialog modal-lg" role="document" *ngIf="archivo">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Editar Archivo No. {{archivo.id}}</h3>
                <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="invoice-area mb-30">

                    <div class="invoice-middle mb-30">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text">
                                    <!----iniciio---->
                                    <form [formGroup]="miFormulario" (ngSubmit)="agregar()">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Seleccionar Tipo</label>
                                                    <select formControlName="tipo" class="form-control" [(ngModel)]="archivo.tipo" >
                                                        <option value="Oficio">Oficio</option>
                                                        <option value="Memorandúm">Memorandúm</option>
                                                        <option value="Pedidos Almacen">Pedidos Almacen</option>
                                                        <option value="Viaticos">Viaticos</option>
                                                        <option value="CV">CV</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Seleccionar Clasificación</label>
                                                    <select formControlName="origen" class="form-control" [(ngModel)]="archivo.origen" >
                                                        <option value="Salida">Salida</option>
                                                        <option value="Ingreso">Ingreso</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Seleccionar Unidad</label>
                                                    <select formControlName="unidad" class="form-control" [(ngModel)]="archivo.unidad" >
                                                        <option value="Seguridad">Seguridad</option>
                                                        <option value="Otros">Otros</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Numero</label>
                                                    <input type="text" [(ngModel)]="archivo.numero"  formControlName="numero" class="form-control" placeholder="Ingrese numero de documento.">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Fecha</label>
                                                    <input formControlName="fecha" [(ngModel)]="archivo.fecha"  type="date" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Descripción</label>
                                                    <textarea type="text" [(ngModel)]="archivo.descripcion"  formControlName="descripcion" class="form-control" rows="3" placeholder="Ingrese la Descripción"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                       
                                        
                                        <button type="submit" class="btn btn-primary rounded-pill " >
                                            Guardar
                                        </button>
                                    </form>
                                    <!---fin-->
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
                   
                
            </div>
        </div>
    </div>
    </div>
</div>





