<div class="faq-area mb-30">
    <div class="tab faq-accordion-tab">
        <ul class="tabs d-flex flex-wrap justify-content-center active">
            <li [ngClass]="itemOne===true ? 'current' : '' " style="cursor:pointer;">
                <a (click)="directivauno()"><i class=" bx bxs-user-circle"></i>
                    <span>Control Personal</span>
                </a>
            </li>
            <li [ngClass]="itemTwo===true ? 'current' : '' " style="cursor:pointer;">
                <a (click)="directivados()"><i class=" bx bxs-car"></i>
                    <span>Control Vehiculos</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!----ITEM UNO ---->
<div class="todo-content-area " style="max-width: 100%;" [ngStyle]="{'display':itemOne===true ? 'block' : 'none'}">
   <app-ingreso-vehiculo></app-ingreso-vehiculo>
</div>

<!--ITEM DOS-->
<div class="todo-content-area" style="max-width: 100%;" [ngStyle]="{'display':itemTwo===true ? 'block' : 'none'}">
   <app-ingreso-personal></app-ingreso-personal>
</div>