




<div class="card mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Listado de Agentes de Vacaciones Total : {{total}}</h3>
       
    </div>

    <div class="card-body">

        <div *ngIf="respuesta" class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Buen Trabajo!!!</strong> &nbsp; &nbsp; &nbsp; Registro Actualizado Correctamente!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
       
        <div class="demo-code-preview" data-label="Listado Agentes Vacaciones" >

            <table  datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="agentes.length">
                <thead >
                    <tr>
                        <th>Nombre</th>
                        <th>Dpi</th>
                        <th>Puesto</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let item of agentes">
                        <td>{{item.nombre}}</td>
                        <td>{{item.dpi}}</td>
                        <td>{{item.puesto}}</td>
                        <td>{{item.telefono}}</td>
                        <td>
                            <select class="form-control" style="font-size: 11px;"
                            [(ngModel)]="item.status"
                            (change)="cambiarEstado(item)"
                            >
                                <option value="1">Activo</option>
                                <option value="0">Baja</option>
                                <option value="2">Suspendido</option>
                                <option value="3">Vacaciones</option>
                                
                            </select>
                           
                        </td>
                        <td>
                            <a  class="iconos observar mr-2" (click)="abrirModal(item)"  data-toggle="tooltip" data-placement="top" title="Ver Novedad"><i class=" bx bxs-low-vision"></i></a>
                            <a  class="iconos editar mr-2" (click)="abrirModalEditar(item)" ><i class="bx bx-edit-alt"  data-toggle="tooltip" data-placement="top" title="Editar Novedad"></i></a>
                            <a  (click)="eliminarAgente(item)" class="iconos eliminar"  data-toggle="tooltip" data-placement="top" title="Eliminar Agente"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>