

<div class="sidebar-left" style="width: 50%;">
    <div class="sidebar">
        <div class="sidebar-content d-flex email-sidebar" style="width: 90%;"
            data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: -25px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper"
                            style="height: 100%; overflow: hidden;">
                            <div class="simplebar-content" style="padding: 25px;">
                                <div class="todo-menu">
                                    
                                        <div class="wrap2">
                                            <span (click)="add()" class="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#00A8C6" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" fill="#f1f1fc"/>
                                                </svg>&nbsp;Crear Campo
                                            </span>
                                        </div>

                                    <br><br>
                                    <form [formGroup]="miFormulario" (ngSubmit)="crear()">
                                        <div class="form-group">
                                            <label>Placas</label>
                                            <select formControlName="vehiculo" class="form-control">
                                                <option>P-121GSD</option>
                                                <option>P-122GSD</option>
                                                <option>P-123GSD</option>
                                                <option>P-124GSD</option>
                                                <option>P-125GSD</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" formControlName="piloto"
                                                        class="form-control"
                                                        placeholder="Ingrese el piloto"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" formControlName="kmsalida"
                                                        class="form-control"
                                                        placeholder="Ingrese kilometraje"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="">
                                                <div formArrayName="csalida">
                                                    <div 
                                                        *ngFor="let item of getControls(); let pointIndex =index"
                                                        [formGroupName]="pointIndex"
                                                    >
                                                        


                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <a class="btn btn-outline-primary"   (click)="eliminar(pointIndex)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#d68a36" class="bi bi-trash" viewBox="0 0 16 16">
                                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" fill="#ed0808"/>
                                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" fill="#ed0808"/>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                            <input type="text" formControlName="acompanante"
                                                                class="form-control form-control-lg"
                                                                placeholder="Ingrese acompañante"
                                                            >
                                                        </div>


                                                        <!-- <a  (click)="add()" data-toggle="tooltip" data-placement="top" title="Agregar Campos">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#d68a36" class="bi bi-trash" viewBox="0 0 16 16">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" fill="#ed0808"/>
                                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" fill="#ed0808"/>
                                                            </svg>
                                                        </a> -->
                                                    
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <button type="submit"
                                            class="btn btn-primary">Guardar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: auto; height: 578px;"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar"
                    style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                <div class="simplebar-scrollbar"
                    style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
            </div>
        </div>
    </div>
</div>
<div class="content-right" style="width: 50%;">
    <div class="todo-area">
        <div class="todo-list-wrapper">
            <div class="todo-list">
                <div class="todo-list-header d-flex align-items-center">
                    <div class="header-left d-flex align-items-center mr-3">
                        <ul class="list-inline m-0 d-flex">
                            <li class="list-inline-item email-delete">
                                <button type="button" class="btn-icon">
                                    <i class="bx bx-trash"></i>
                                </button>
                            </li>

                            <li class="list-inline-item email-unread">
                                <button type="button" class="btn-icon">
                                    <i class="bx bx-envelope"></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="header-right w-100">
                        Total Personal dentro : 
                    </div>
                </div>

                <ul class="list-wrapper" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: -15px; bottom: 0px;">
                                <div class="simplebar-content-wrapper"
                                    style="height: 100%; overflow: hidden scroll;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <li class="todo-list-item" *ngFor="let item of registros">
                                            <div class="todo-item-title">
                                                <img src="assets\img\user1.jpg"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="" alt="image"
                                                    data-original-title="Sarah Taylor">
                                                <h3>{{item.vehiculo}}</h3>
                                                <p>Piloto : {{item.piloto}}</p>
                                                <p>Km Salida : {{item.kmsalida}}</p>
                                                <p>Acompañantes : {{item.csalida}}</p>
                                                <p>Creado : {{horaMes(item.createdAt)}}</p>
                                            </div>

                                            <div class="todo-item-action">
                                                <a (click)="egreso(item)" class="edit"><i
                                                        class=" bx bxs-paper-plane"></i></a>
                                                <a (click)="eliminarVehiculo(item)" class="delete"><i
                                                        class="bx bx-trash"></i></a>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: auto; height: 949px;">
                        </div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal"
                        style="visibility: hidden;">
                        <div class="simplebar-scrollbar"
                            style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical"
                        style="visibility: visible;">
                        <div class="simplebar-scrollbar"
                            style="height: 450px; transform: translate3d(0px, 204px, 0px); display: block;">
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-modal-editar-vehiculo></app-modal-editar-vehiculo>


