<div class="welcome-area">
    <div class="row m-0 align-items-center">
        <div class="col-lg-5 col-md-12 p-0">
            <div class="welcome-content">
                <h1 class="mb-2"> Bienvenido {{usuario.nombre | slice:0:20}}</h1>
                <p class="mb-0">"Hoy es un buen día para creer que lo imposible se realizará porque Dios está a tu lado y te ayudará en lo que hagas"</p>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 p-0">
            <div class="welcome-img">
                <img src="assets\img\welcome-img.png" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="ecommerce-stats-area">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class="bx bxs-user-check"></i>
                </div>
                <span class="sub-title">Usuarios</span>
                <h3>{{totalUsuarios}} </h3>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class="bx bxs-detail"></i>
                </div>
                <span class="sub-title">Novedades</span>
                <h3>{{totalNovedades}}</h3>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class="bx bxs-folder-open"></i>
                </div>
                <span class="sub-title">Archivos</span>
                <h3>{{totalArchivos}}</h3>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-stats-card-box">
                <div class="icon">
                    <i class=" bx bxs-user-detail"></i>
                </div>
                <span class="sub-title">Visitas</span>
                <h3>{{totalVisitas}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    

   
    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>2023</h3>

               
            </div>

            <div class="card-body">
               

                <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="data"
                [gradient]="gradient"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                >
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>2023</h3>                
            </div>
            <div class="card-body">
                
                <ngx-charts-bar-horizontal
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="data"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    >
                </ngx-charts-bar-horizontal>
            </div>
        </div>
    </div>

    
</div> 

